* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  transition: all 0.4s ease;
}

a {
  text-transform: none;
  text-decoration: none;
}

ul {
  list-style: none;
}
